body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  background: #bbd9fa !important;
}

.search-field {
  border: none;
  padding: 5px;
  outline: none;
  padding: 15px;
  background: #4e51f3;
}

.search-field:hover {
  outline: none;
}

.search-box {
  width: 281px;
  margin: 50px auto;
  border-right: none;
  display: flex;
}

.search-box input {
  border: 2px solid #a1d380;
  color: white;
  background: transparent;
  transition: 0.5s;
}

.search-box input:hover {
  border: 2px solid #ffffff;
}

.search-button {
  padding: 10px 30px !important;
  border-radius: 25px;
  margin-left: 0;
  border: 2px solid wheat !important;
  border-radius: 0 30px 30px 0 !important;
  text-transform: uppercase;
}

#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  /* border: 1px solid black; */
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.single-product {
  padding: 20px 10px;
  transition: 0.6s;
  border: 1px solid transparent;
  background: #ffffff;
}

.single-product:hover {
  box-shadow: 0 0 40px #80808091;
  border: 1px solid rgb(125, 171, 241);
}

.product-image {
  width: 150px;
  height: 150px;
}

.cart {
  width: 350px;
  /* border: 1px solid green; */
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
}

.cart-main {
  padding-right: 30px;
}

.buy-now {
  background: #0e131b !important;
}

.buy-now,
.d-btn {
  text-transform: capitalize;
  font-weight: 600;
  padding: 10px 20px !important;
  margin: 5px;
  transition: .5s;
}

.buy-now:hover {
  border: 1px solid #ee3251 !important;
  background: transparent !important;
  color: #000000 !important;
}

.d-btn {
  background: #f55843 !important;
}

.d-btn:hover {
  background: transparent !important;
  color: #000000 !important;
}

@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 35px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }

  .cart-main {
    padding-right: 10px;
  }
}

@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}